<i class="{{ avaliacao >= 20 ? 'bi bi-star-fill' : avaliacao > 0 && avaliacao < 20 ? 'bi bi-star-half' : 'bi bi-star' }}"></i>

<i class="{{ avaliacao >= 40 ? 'bi bi-star-fill' : avaliacao > 20 && avaliacao < 40 ? 'bi bi-star-half' : 'bi bi-star' }}"></i>

<i class="{{ avaliacao >= 60 ? 'bi bi-star-fill' : avaliacao > 40 && avaliacao < 60 ? 'bi bi-star-half' : 'bi bi-star' }}"></i>

<i class="{{ avaliacao >= 80 ? 'bi bi-star-fill' : avaliacao > 60 && avaliacao < 80 ? 'bi bi-star-half' : 'bi bi-star' }}"></i>

<i class="{{ avaliacao >= 100 ? 'bi bi-star-fill' : avaliacao > 80 && avaliacao < 100 ? 'bi bi-star-half' : 'bi bi-star' }}"></i>
