@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

$colorGold: #eacb2f92;

button {
  width: 100%;
}

.placeholder-color::placeholder {
  color: grey;
}

.container {
  background-color: rgba(0, 0, 0, 0.884);
  // box-shadow: 1px 7px 49px 12px #cebe306b
}

.color-gold {
  font-size: 25px;
  color: $colorGold;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
}
