@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

$colorLogo: #eed61d85;
$colorH1: #eacb2f92;
$colorH2: #e4d06f92;
$opacHeaderFooter: rgba(0, 0, 0, 0.884);

body {
  margin: 0;
  padding-top: 0;
}

main {
  padding: 2% 20% 5% 20%;
  min-height: 75vh;
}

h1 {
  font-size: 25px;
  color: $colorH1;
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
}

h2 {
  font-size: 15px;
  color: $colorH2;
}

.focus-ring {
  --bs-focus-ring-color: rgba(var(--bs-secondary-rgb), .25)
}

.opc-footer {
  background-color: $opacHeaderFooter;
}

.opc-header {
  background-color: $opacHeaderFooter;
}

.pagina {
  background-image: url('./assets/background-page.webp');
  background-repeat: repeat;
  background-size: contain;
  background-color: #222;
  color: azure;
}

.font-logo {
  font-size: 25px;
  color: $colorLogo;
  text-shadow: 1px 2px 10px rgb(194, 203, 22);
  font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;

  -webkit-animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 3s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
}
